@import "./formulario";

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.descripcion{
    padding: var(--spS);
}

.descripcion__item {
    transition: all 2s;
    &:hover {
      background-color: #48A9A6;
      translate: 25px;
    }
}

.descripcion {
  &__item {
    &__titulo {
      font-size: var(--textText);
      padding: var(--spXs);
    }
    &__texto {
      font-size: var(--textText);
      padding: var(--spS);
    }
  }
}

.general{
    padding: var(--spM);
}

.general__tabla__resumen__punto__resumen {
    font-size: var(--textText);
    color: var(--backgroundDark);
}


.general__tabla__resumen__punto__titulo {
    font-size: var(--textHeading3456);
    color: var(--backgroundDark);
}

.pointText {
  @include transitionA();
  &:hover{
    scale: 0.95;
  }
}

.pointImg {
  @include transitionA();
  &:hover{
    scale: 0.95;
  }
}


.title{
    color: var(--backgroundLight);
}


.containerform {
    border-radius: 10px;
    background-color: var(--backgroundLight);
    padding: 100px;
    color: var(--backgroundEmpty);
  }


.nosotros__title{
    padding: var(--spS);
    margin-top: var(--spXs);
}

.subtitulo{
    font-size: var(--textLinks);
    padding: var(--spXs);
}

.column {
    float: left;
    width: 50%;
    padding: 5px; 
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.gridTitle {
    font-size: var(--textLinks);
}

.gridText {
    font-size: var(--textCaption);
}

.map{
  height:463px
}

@media screen and (max-width: 950px){


    .galeria {
        padding: var(--spXs);
    }
    .gridTitle {
        font-size: var(--textHeading7);
    }
    
    .gridText {
        font-size: var(--textSText);
    }

}

